body {
    background-color: #EAE7DC;
}

h1 {
    color: #E85A4f;
    font-family: 'Baloo 2', cursive;
    font-weight: 150;
    margin-left: 7%;
}

h2, p {
    color: #E85A4f;
    font-family: 'Baloo 2', cursive;
    font-weight: 150;
    text-align: center;
}

#update {
    text-align: right;

}

.image {
    border-radius: 2%;
}

.link {
    color: #E98074;
    font-family: 'Baloo 2', cursive;
}