* {
  margin: 0;
  padding: 0;
  font-family: 'Baloo 2', cursive;
}

ul + div.container {
  background: white;
  margin-bottom: 1%;
  margin-top: 1%;
  margin: 0 auto;
  padding: 0 0 1% 0;
}

header nav {
  padding: 0px 0px;
}

ul li a {
  display: flex;
}

a.brand-logo {
  font-size: 2em;
  font-weight: 900;
}

ul > li > p.brand-logo {
  font-size: 2em;
  font-weight: 900;
  background-color: #ee6e73;
  color: white;
  padding: 10px 10px;
}

div.content {
  opacity: 0;
  transition: all 1500ms;
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  width: 80vw;
  margin: 0 auto;
}

.number-container {
  display: flex;
  flex-flow: column-reverse;
  padding: 0% 10% 2% 10%;
  margin: 1.5% 0;
  border-radius: 10px;
  justify-content: space-around;
}

p.numbers {
  font-size: 3em;
  align-self: flex-end;
  margin: 0;
  font-weight: 900;
}

.numbers-text {
  margin-top: -15px;
  align-self: flex-start;
}

div.container div.row {
  margin-bottom: 1%;
}

.brasil {
  display: flex;
  margin: 2% 0 0 0;
  font-size: 2em;
  justify-content: center;
}

.brasil + div {
  margin-bottom: 0;
}

.chart {
  height: 300px;
  width: 90%;
  margin: 0 40px 50px 40px;
}

.chart-container {
  border-radius: 10px;
  padding: 2%;
  margin: 0 2% 2% 2%;
  position: relative;
}

footer {
  margin-top: 20px;
  margin-bottom: 20px;
  opacity: 0;
  transition: all 1500ms;
}
